In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.svm import LinearSVC
from sklearn.preprocessing import StandardScaler

Comando abaixo é pra eu conseguir acessar meu drive do Google, porque programo usando o colab, que é uma plataforma deles pra programar em python online mesmo. Os dados dos pacientes estão salvos todos lá, então preciso de acesso

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/"
base_dir = root_dir + "Colab Notebooks/parkinson/"

**A parte principal do treinamento de qualquer modelo de machine learning é carregar os dados que farão nosso modelo 'aprender'. Os dados das imagens no nosso caso são armazenados em uma tabela: cada linha representa um paciente, e cada coluna representa uma medida que foi calculada a partir do exame (chamamos de característica, ou *feature*, na terminologia)**

In [5]:
#dfSpiral então é nossa tabela
dfSpiral = pd.read_csv(base_dir + 'NewSpiral.csv')

In [6]:
#head() imprime um pouco da tabela pra termos uma noção de como são os dados
dfSpiral.head()

  _ID_EXAM  ... CHANGES_FROM_NEGATIVE_TO_POSITIVE_BETWEEN_ET_HT
0       H1  ...                                        0.120773
1       H2  ...                                        0.172414
2       H3  ...                                        0.123894
3       H4  ...                                        0.162011
4       H5  ...                                        0.202899

[5 rows x 16 columns]

In [7]:
#eliminamos algumas características não-numéricas abaixo
dfSpiral.drop(columns=['_ID_EXAM', 'IMAGE_NAME', 'ID_PATIENT', 'GENDER', 'RIGH/LEFT-HANDED'], inplace=True)

**Vamos visualizar de novo**

In [8]:
dfSpiral.head()

   CLASS_TYPE  ...  CHANGES_FROM_NEGATIVE_TO_POSITIVE_BETWEEN_ET_HT
0           1  ...                                         0.120773
1           1  ...                                         0.172414
2           1  ...                                         0.123894
3           1  ...                                         0.162011
4           1  ...                                         0.202899

[5 rows x 11 columns]

**Eliminamos as colunas com features não-numéricas. Prosseguimos com a parte do treinamento. Usaremos um algoritmo clássico de machine learning chamado de Support Vector Machine. Esse vídeo explica a ideia das SVM's bem intuitivo: https://www.youtube.com/watch?v=Y6RRHw9uN9o**

In [10]:
#transformamos nossa tabela em outra que é exatamente igual, 
#só que o 'numpy' permite fazer operações com muito mais eficácia.
TRAIN = np.array(dfSpiral)

#abaixo separamos nossa matriz em características (parte numérica), 
#e rótulo (patológico/saudável)
X = TRAIN[:, 1:] #uma matriz com todas as features numéricas
Y = TRAIN[:, 0] #uma matriz com apenas 1 coluna (vetor), sendo essa coluna o diagnostico e cada paciente

X = StandardScaler().fit_transform(X) #normaliza features (importante no caso do algoritmo de aprendizado escolhido).
SVC = LinearSVC(dual=False)

scoresSVC = cross_val_score(SVC, X, Y, cv=9, scoring="accuracy") # testamos acurácias do nosso modelo

print(scoresSVC)

[0.73333333 0.96666667 0.8        0.75862069 0.68965517 0.82758621
 0.72413793 0.72413793 0.86206897]

In [ ]:
import joblib #importante isso aqui, serve pra gente exportar nosso modelo pro disco depois de treinar ele.

SVC.fit(X, Y) #aqui estamos falando para o nosso modelo de fato 'aprender' com nossos dados

filename = 'SVMSpiral.joblib'
joblib.dump(SVC, base_dir + filename)

**Pronto, modelo exportado. Quando formos fazer nossas previsões online, basta carregarmos esse arquivo. A mesma lógica é aplicada pros outros classificadores: realizamos o treinamento deles, e depois exportamos o modelo para o deploy.**